<nav class="product-nav-bar nav-bar" id="product-nav">
    <div class="nav-bar__inner">
      <div class="container">
  
        <div class="product-nav-bar_content">
          <ul class="nav-bar__linklist list--unstyled">
            <li class="nav-bar__item">
              <a class="" href="#product-overview">Overview</a>
            </li>
            <li class="nav-bar__item">
              <a href="#product-features" class="">Features</a>
            </li>
            <li class="nav-bar__item">
              <a href="#product-specs" class="">Specifications</a>
            </li>
            <li class="nav-bar__item">
              <a href="#product-reviews">Reviews</a>
            </li>
          </ul>
  
          <div class="product-form__info-list">
            <div class="price-list">
              <span class="price price--highlight bold_option_price_display">$1,899.00</span>
            </div>
            <div class="product-form__payment-container product-navbar_btn">
                <a href="#product-menu" class="product-form__add-button nav-bar_add-btn" >Buy Now</a>
            </div>
      </div>
    </div>
  </div>
</div>
</nav>

<style>

    .product-variant-title{
    line-height:20px;
    }

    .product-form__option-name {
    margin-bottom: 0px;
    width: fit-content;
    display: inline-flex;
    }

    .modal_link_btn{
    color: #0C7FD6;
    margin-bottom:15px;
    font-size:14px;
    }
    .bold_option:not(:empty){
    padding: 0;
    margin-bottom:0px;
    }

    .bold_options{
      margin-bottom:0;
    }
    
    .bold_option.bold_option_radio{
    margin-bottom:30px;
    }


    .bold_option.bold_option_radio:last-child{
    margin-bottom:0px;
    }


    .bold_option_title.accordion{
      padding: 0!important;
    }

    .bold_option_title, .accordion{
      display: block;
    width: 100%;
    margin-bottom: 0px;
    line-height: 20px;
    color: var(--heading-color);
    font-weight: var(--text-font-bolder-weight);    position: relative;
    cursor: pointer;
    }

    .bold_option_title .bold_option_title-option_selected{
      padding-left: 5px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    }

.bold_option_title.accordion + .bold_option_element, .accordion + .accordion-body{
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  margin-left: 0;
}

.bold_option_title.accordion:before {
    content: "Expand";
    position: absolute;
    right: 22px;
    font-size: 14px;
    color: #B2B2B2;
    transition: all 0.3s;
    font-weight: 100;
    opacity:1;
    background: white;
    padding-left: 8px;
}

.bold_option_title.accordion.open:before {
    position: absolute;
    right: 22px;
    font-size: 14px;
    color: #B2B2B2;
    transition: all 0.3s;
    font-weight: 100;
    opacity:0;
    padding-left: 0px;
}


.bold_option_title .modal_link_btn{
    color: #0C7FD6;
    display:flex;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 100;
    width:fit-content;
    }

    .bold_option_value{
      margin-right:0;
    }

    .bold_option_value label {
      display: flex;
    position: relative;
    border: 1px solid #E8E8E8;
    margin-bottom: 10px;
    border-radius: 3px;
    margin-right: 0;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 15px;
    align-items: center;
    color: #707070;
}

.bold_option_value label.checked {
  color:#222021;
  border-color:#222021;
}

.bold_option_value_title,.bold_option_value_price{
  width:100%;
}

.bold_option_value_price{
  display: flex!important;
  font-size:13px!important;
    justify-content: flex-end;
    width:fit-content;
    color:#B2B2B2;
    font-weight: var(--text-font-weight);
}

.bold_option_value label.checked .bold_option_value_price{
  color:#222021;
}


.bold_option_checkboxmulti .bold_option_element input[type=checkbox], .bold_option_radio .bold_option_element input[type=radio] {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.product-form__info-list {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 30px 0;
    position: sticky;
    bottom: 0;
    background: rgb(255 255 255 / 90%);
    margin-top: 15px;
    justify-content: space-between;
}

.product-form__info-list.quantity-form_added{
margin-top:0;
padding:0;
}

.price-list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.price--highlight {
    margin-right: 10px;
    color: #222021;
    font-size: 24px;
}

.product-form .price--compare {
    font-size: 14px;
    color: #707070;
    top:0;
}

.product-form__payment-container {
    display: flex;
    justify-content: flex-end;
    width:fit-content;
    margin:0;
    height:65px;
}


.product-nav-bar.nav-bar {
    position: fixed;
    top: -75px;
    width: 100%;
    display: block;
    transition: all 0.3s;
    box-shadow: rgb(0 0 0 / 10%) 0px 0 23px;
    border-color: #E1E1E1;
    background-color: white;
    z-index:2;
  }

  
.nav-bar__inner{

}
  .product-nav-bar.nav-bar .nav-bar__inner .nav-bar__linklist{
    display: flex;
  }

  .product-nav-bar.nav-bar .nav-bar__inner .nav-bar__linklist .nav-bar__item a {
    transition: all 0.3s;
    text-transform: none;
  }

  .product-nav-bar.nav-bar .nav-bar__inner .nav-bar__linklist .nav-bar__item a.active {
    color: #222021;
    background-color: #EFEFEF;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 3px;
  }

  .product-nav-bar.nav-bar .product-nav-bar_content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: inherit;
  }

  .product-nav-bar.nav-bar .product-nav-bar_content .nav-bar__linklist {
    width: auto;
    font-size: 15px;
    align-items: center;
  }

  .product-nav-bar.nav-bar .product-nav-bar_content .nav-bar__linklist .nav-bar__item {
    padding: 0;
    margin-right: 30px;
  }

  .product-nav-bar.nav-bar .product-nav-bar_content .nav-bar__linklist .nav-bar__item:last-child {
    margin-right: 0x;
  }

  .product-nav-bar.nav-bar .product-nav-bar_content form {
    margin: 0;
  }

  .product-nav-bar.nav-bar .product-nav-bar_content .product-form__info-list{
    display: flex;
    justify-content: flex-end;
  }

  .product-nav-bar.nav-bar .product-nav-bar_content .product-form__info-list .price-list {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right:30px;
  }

  .product-nav-bar.nav-bar .product-nav-bar_content .product-form__info-list .price-list span {
    font-size: 20px;
    color: #222021;
  }

  .product-nav-bar.nav-bar .product-nav-bar_content .product-form__info-list .product-form__payment-container button {
    height: 100%;
    border-radius: 0;
  }

 .nav-bar__inner .product-form__info-list{
   padding:0;
   margin:0;
 }

 .nav-bar_add-btn{
       height: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 }


 .product-form__payment-container.product-navbar_btn{
   height:65px!important;
 }

  @media screen and (min-width: 640px){
  .product-form__payment-container>* {
    margin: 0px;
  }
}

  </style>

  